
<!-- Navigation -->
<div th:fragment="header">


	<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">JavaShopping</a>

			<form class="form-inline my-4 my-lg-0" method="post" th:action="@{/buscar}">
				<input class="form-control mr-sm-2 " type="search"
					placeholder="Buscar" aria-label="Search" name="busqueda"
					autocomplete="off">
				<button class="btn btn-outline-light my-2 my-sm-0"  type="submit">Buscar</button>
			</form>
			


			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link navbar-light active"
						th:href="@{usuario/login}">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>



<!-- Navigation -->
<div th:fragment="header_user">


	<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">JavaShopping</a>

			<form class="form-inline my-4 my-lg-0" method="post" th:action="@{/buscar}">
				<input class="form-control mr-sm-2 " type="search"
					placeholder="Buscar" aria-label="Search" name="busqueda"
					autocomplete="off">
				<button class="btn btn-outline-light my-2 my-sm-0"  type="submit">Buscar</button>
			</form>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown active"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"  th:text=" 'Usuario: ('+ ${usuario.username} + ')'"  ></a> <!-- th:text=" 'Usuario: ('+ ${usuario.username} + ')'"  -->
						
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/usuario/perfil}">Perfil</a>
							<a class="dropdown-item" th:href="@{/getCarrito}">Carrito</a>
							<a class="dropdown-item" th:href="@{/usuario/compras}">Compras</a>
							<a class="dropdown-item" th:href="@{/usuario/log-out}">Log-out</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>


<!-- Footer -->
<div th:fragment="footer">
<br>
<br>
<br>
<br>
<br>
<br>
	<footer class="py-4  navbar-light bg-info fixed-bottom">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; JavaShopping 2022</p>
		</div>
		<!-- /.container -->
	</footer>
</div>

